.container {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    align-content: center;
    
    
}

.bolge1{
    background-color:inherit;
    width: 20%;
    border-right: 1px solid #ebeef0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 2px;
    height: 100vh;
}
.logo-buton{
    border-radius: 90%;
    background-color: inherit;
    border:0px;
    color:#1da1f2;
    padding: 15px;
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
}

.butonlar{
    display: flex;
    background-color: inherit;
    color: #0f1419;
    border: 0px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: 700;
    border-radius: 23px;
}
.menu{
    width: 85%;
    position: relative;
    padding: 8px 25px 3px 40px;
}
.fa-home{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-hashtag{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-bell{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-envelope{
    color:p#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-file{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-comment{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-user{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.fa-compass{
    color:#0f1419;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height:25px ;
    position: absolute;
}
.btn{
    color: white;
    border-radius: 23px !important;
    background-color: #1A91DA;
    border: #8ed0f9;
    font-size: 15px;
    width: 90%;
    padding: 11px;
    opacity: 0.8;
}
.btn-profil{
    border-radius: 25px;
    background-color: inherit;
    display: flex;
    border:0px;
    line height: 20px;
    color:black;
    width:95%;
}
.fa-ellipsis-h{
    position: absolute;
    left: 300px;
}

.anonim1{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0f1419;
}
.anonim2{
    padding-bottom: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #5b7083;
}

.profil-img{
    width:60px;
    border-radius: 50%;
}
.kullanici{
    font-size: 14px;
    text-align: left;


}
.bolge2{
    background-color: inherit;
    width: 50%;
    border-right: 1px solid #ebeef0;
    height: 100vh;
}
.kutu1{
    border-color: grey;
  
}
.btn-home1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
    background-color: inherit;
    border:0px;
    text-align: left;
    padding:7px;
    width: 92%; 
}
.btn-home2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
    background-color: inherit;
    border:0px;
    text-align: right;
    padding:7px;
    border-radius: 50%;
}
.kutu2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.box1{
    width: 15%;
}
.home-profile-button{
    border: 0px;
    background-color: inherit;
    border-radius: 50%;
}
.home-profile-pic{
    border-radius: 50%;
    height: 58px;
}
.box2{
    width: 82%;
}
.tweet-text{
    border: 0px;
    font-size: 19px;
    width: 88%;
}
.button-group{
    background-color:inherit ;
    border-radius: 50%;
    border: 0px;
    color: #1da1f2;
    padding: 7px;
}
.tweet-button{
    border: 0;
    background-color:#8ed0f9;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 7px;
    float: right;
    width: 15%;
}
.box3{
    width: 3%;
    line-height: 14px;
}
.btn-blank{
    background-color:#f7f9fa ;
    border-right-style: none;
    border-left-style: none;
    padding: 5px;
    width: 100%;
   
}
.kutu4{
    margin-left:auto;
    margin-right:auto;
}
.welcome{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    line-height: 20px
}
.welcome-paragraf{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #5b7083;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    width: 98%;
    text-indent:8px
}
.button-lets{
    border: 0;
    background-color:#1a91da;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 7px;
}
.bolge3{
    background-color:inherit;
    width: 30%; 
    line-height: 4px;
}
#arama {
    width: 85%;
    position: relative;
}
 
.fa-search {
    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 16px;
    font-weight: lighter;
    color:#637789;
}
#search {
    background-color: #ebeef0;
    width: 100%;
    height:45px;
    box-sizing: border-box;
    border: 0;
    border-radius: 24px;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 20px 12px 40px;
}
.trendler-baslik{
    padding-left: 3px;
    background-color: #f7f9fa;
    width: 85% ;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    line-height: 25px;
    font-weight: 800;
    height: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 .fa-cog{
    color:#29a6f2;
}
.trendler{
    background-color: #f7f9fa;
    width: 85% ;
    border: 0;
}
.trending-in{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #5b7083;
    font-weight: 400;
    text-align: left;
}
.trend-topic{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #0f1419;
    font-weight: 700;
}
.trend-son{
    background-color: #f7f9fa;
    width: 85% ;
    border: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 45px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #1da1f2;
    text-align: left;
}
.trend-ayar{
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    right: 170px;
}
.sag-butonlar{
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    right: 155px;
    font-size: 15px;
    color: #5b7083;
    line-height: 20px;
    font-weight: 400;

}

 